* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #2193b0, #6dd5ed);
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 70vmin;
    height: 70vmin;
    margin-bottom: 20px;
    perspective: 1000px;
}

.button-option {
    background: #ffffff;
    border: 2px solid #2193b0;
    border-radius: 10px;
    font-size: 5vmin;
    color: #2193b0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
}

.button-option.X {
    color: #ff5733;
    /* Color for X */
}

.button-option.O {
    color: #33ff57;
    /* Color for O */
}

.button-option:hover:not(:disabled) {
    background: #e0f7fa;
    transform: rotateY(20deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button-option:disabled {
    cursor: not-allowed;
    color: #cccccc;
}

#restart,
#new-game {
    font-size: 1em;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

#restart:hover,
#new-game:hover {
    background-color: #4b0082;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup {
    background: rgba(0, 0, 0, 0.75);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    animation: fadeIn 0.5s ease-in-out;
}

.popup p {
    color: #ffffff;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.popup.hide {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}